.App {
  text-align: left;
}

.DemoPage {
  background-color: white;
  text-align: left;
  color: black;
}

.Home {
  background-color: white;
  text-align: left;
  color: black;
}

.Wiki {
  background-color: white;
  text-align: left;
  color: black;
}

.App-header {
  background-color: lightblue;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: flex-start;
  font-size: calc(5px + 2vmin);
  color: lightblue;
  outline: lightblue;
  height: 80px;
}

.App-header-box {
  width: 100px;
  height: 50px;
  margin: auto;
}

.App-link {
  color: #61dafb;
}