.App {
  text-align: left;
}

.DemoPage {
  background-color: white;
  text-align: left;
  color: black;
  display: "flex";
}

.Demo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Home {
  background-color: white;
  text-align: left;
  color: black;
}

.Wiki {
  background-color: white;
  text-align: left;
  color: black;
}

.App-header {
  background-color: lightblue;
}

.ImageUpload {
  width: 20%;
}

.App-header-box {
  width: 100px;
  height: 50px;
  margin: auto;
}

.App-link {
  color: #61dafb;
}